body 
{
	font-size: 16px;
}                  
h1 {
	color: #2A1959;
	border-bottom: 2px solid #2A1959;
}
h2 {
	color: #474B94;
	font-size: 1.2em;
}
.result_same {
	color: green;
	font-weight: bold;
}

.result_lesser {
	color: blue;
}
.result_greater {
	color: blue;
}
.result_error {
	color: grey;
}